name: Test the code before merges

on:
  push:
    branches:
      - 'main'
  push_request:
    types:
      - opened
    branches:
      - 'main'

jobs: 
  test:
    name: Run Go Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.3'  

    - name: Install dependencies
      working-directory: backend/src
      run: go mod tidy

    - name: Run tests with coverage
      working-directory: backend/src
      run: go test -coverprofile=coverage.out ./...

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: backend/src/coverage.out
      